:root {
    --primary-color: #DA291C;
    --primary-color-hover: #cc1b0f;
    --play-color: #252f7f;
    --play-color-hover: #141c61;
}


body {
    font-size: 20px;
}

#app {
    padding-bottom: 150px;
}

.custom-nav {
    box-shadow: rgb(0 0 0 / 20%) 0 8px 16px;
    background: white;
    padding: 15px 15px;
}

.header {
    padding: 30px 0 15px 0;
    text-align: center;
    border-bottom: 1px solid #dee2e6 !important;
}

.header h1 {
    margin: auto;
}

/* Home */
.container-train {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
    height: 4300px;
}

.train {
    width: 20vw;
    max-width: 50px;
    z-index: 1;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    top: -540px;
}

.rails {
    width: 20vw;
    max-width: 46px;
    height: 4300px;

    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    z-index: 0;

    margin: auto;
    text-align: center;
    border: solid 4px #DADADA;
}

.illustration-background-first {
    width: 200px;
    margin-bottom: -15px;
}

.illustration-background-end {
    width: 430px;
    margin-top: 180px;
    margin-bottom: -15px;
}

@media (max-width: 576px) {

    .illustration-background-first {
        width: 150px;
    }

    .illustration-background-end {
        width: 300px;
    }

    .rails {
        height: 4200px;
    }

    .badge-container {
        line-height: 23vw !important;
    }
}


.illustration-background {
    width: 55vw;
    height: 150px;
    margin-bottom: -15px;
    margin-top: 180px;
    overflow: hidden;
}

.illustration-right,
.illustration-left {
    padding: 0;
}

.chapter-locked {
    filter: grayscale(100%);
}


/* End home */

.badges-container {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.badge-container img {
    width: 95%;
    height: 95%;
}

.badge-container {
    height: 23vw;
    width: 23vw;
    max-width: 105px;
    max-height: 105px;
    line-height: 105px;
    text-align: center;
    background: white;
    margin: 10px;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0 8px 16px;
}

/* 
.badges-container .locked {
    background-color: #E5E5E5;
} */

.badge-container img.locked {
    filter: grayscale(100%);
}

.primary,
.primary-color {
    color: var(--primary-color);
}

.primary-link {
    font-size: .75em;
    color: var(--primary-color);
    text-decoration: underline;
}

.primary-link:hover {
    color: var(--primary-color-hover) !important;
}

[class*=uk-modal-close-] {
    left: 10px;
    right: default;
}

.modal-login {
    /* max-height: 80vh; */
}

.py-default {
    padding-top: 12vh;
    padding-bottom: 12vh;
}

.alert-form {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
    font-weight: bold;
}

.btn {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}

.btn-play {
    background: var(--play-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;

    padding: 15px 20px;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .30) 0 8px 16px;

    z-index: 99;
}

.btn-play.red {
    background: var(--primary-color);
}

.btn-play:hover,
.btn-play:focus,
.btn-play:active {
    background: var(--play-color-hover) !important;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
}

.btn-primary {
    background: var(--primary-color);
    border: none;
    box-shadow: rgba(0, 0, 0, .15) 0 6px 15px;
}

.btn-secondary {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: rgba(0, 0, 0, .15) 0 6px 15px;
    background-color: white;
}

.btn.btn-primary.small {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
}

.btn.btn-primary.smaller {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: var(--primary-color-hover) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: var(--primary-color) !important;
    color: white;
    border: 1px solid var(--primary-color);
}

.form-control:focus {
    border-color: #e3342f6b;
    box-shadow: 0 0 0 0.2rem #e3342f30;
}

.full-width {
    width: 100%;
}

.container-scroll {
    overflow-x: auto;
    padding-bottom: 20px;
}

/* Résultats */
.container-resultat {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "titre titre titre titre score icon"
        "date date date date score icon"
}

.container-resultat .titre {
    grid-area: titre;
}

.container-resultat .date {
    grid-area: date;
    font-size: 16px;
    color: grey;
}

.container-resultat .score {
    grid-area: score;
    margin-right: 12px;
    line-height: 50px;
}

.container-resultat .icon {
    grid-area: icon;
    line-height: 50px;
}

.container-resultat .icon img {
    width: 28px;
    height: 28px;
    /* position: relative;
    top: 50%;
    transform: translateY(-75%); */
}

.page {
    padding: 1rem;
    max-width: 100rem;
    margin: 0 auto;
    text-align: center;
}


/* MODAL */


.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.custom-modal {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
}

.modal-right .custom-modal {
    border-top: solid 15px #28a745;
}

.modal-wrong .custom-modal {
    border-top: solid 15px #da291c;
}

.custom-modal::before {
    /* content:''; */
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.178);
    width: 100%;
    height: 100vh;
}

.modal-backdrop {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.modal {
    display: inline-block;
    height: 50%;
    text-align: center;
    background: #ffffff;
    box-shadow: 2px 2px 20px 1px #28a745;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: flex;
}

.modal-header {
    position: relative;
    padding-top: 25px;
    border-bottom: 1px solid #eeeeee;
    color: #4aae9b;
    justify-content: space-between;
}

.modal-footer {
    border-top: 1px solid #eeeeee;
    flex-direction: column;
    justify-content: flex-end;
}

.modal-body {
    position: relative;
    padding: 20px 10px;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #4aae9b;
    background: transparent;
}

/* END MODAL */
